{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["@nestjs/(.*)", "^react(.*)", "@/(.*)", "^[./]"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
