{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^react(.*)$",
    "^@fontsource/(.*)$",
    "^@nestjs/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "semi": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy",
    "jsx",
    "classProperties",
    "classPrivateProperties",
    "classPrivateMethods"
  ]
}
