# Server
PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# Auth
TOKEN_SECRET=change_me_to_a_long_random_secret
TOKEN_DURATION=48h

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASS=pass
DB_NAME=name
