:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  /* Reserve space for fixed footer height so content isn't hidden behind it */
  padding-bottom: 40px;
}

body {
  padding: 0;
  margin: 0;
  height: 100svh;
}
